<div class="modal fade" id="modalAddServicos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Servicos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="listaCliente"> 
          <div *ngFor="let cliente of listaCliente.controls; let i=index" [formGroupName]="i">
              <p> CPF/CNPJ: <b>{{ cliente.value.cnpj | cpfcnpjPipe}}</b> Nome: <b>{{ cliente.value.nome}}</b> </p>
          </div>            
        </form>

        <form [formGroup]="listaCliente">
          <div class="d-flex justify-content-end">
           <button class="btn btn-link">+Servicos</button>
           
          </div>
        </form>

       

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>