<div class="jumbotron">
  
  <h1 class="display-4">Seja Bem Vindo! </h1>
  <p class="lead">Foi utilizado Angular, Bootstrap, HTML, CSS , Typescript, Azure e Firebase Google</p>
  <hr class="my-4">
  <p >Nesse projeto desenvolvo uma ferramenta capaz de facilitar a emissão de fatura para clientes, é possível cadastrar novos clientes com CNPJ e cada cliente pode ter uma lista de servico, com descrição e valor. No final é gerado um PDF com todas as informações e com data de competência e valor total, foi utilizado alem das demais ferramentas dos projetos anteriores o Firebase do google para autenticar e fazer CRUD.
</div>