<div class="modal fade" id="confirmarDelClientes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header background">
          <h5 class="modal-title" id="exampleModalLabel">Deseja excluir todos os serviços dos clientes abaixos?</h5>
          <button type="button" class="btn btn-info backgroundButton" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body">
          <div *ngFor="let cliente of listasClienteRemoverServicos.value; let i=index">
              <p style="margin-left: 100px ;">{{i+1}} - CPF/CNPJ: <b style="color: red;">{{ cliente.cnpj | cpfcnpjPipe }} </b > - Nome: <b style="color: red;"> {{ cliente.nome }}</b></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Voltar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deletarTodosServicos()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>