<div class="container">
    <div class="row centralizar" >        
        <div class="col-12">
            <h3 class="text-center">Lista de clientes</h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead >
                <tr class="centralizar">
                    <th scope="col">CPF / CNPJ</th>
                    <th scope="col">Nome Empresarial</th>
                    <th scope="col">Localidade</th>
                    <th scope="col">Valor Fatura</th>
                    <th scope="col">Opções</th>

                </tr>
            </thead>
            <tbody *ngFor="let cliente of clientes" class="table-sm">
                <tr class="centralizar">
                    <th scope="row">{{ cliente.cnpj }}</th>
                    <td>{{ cliente.nomeEmpresarial }}</td> 
                    <td>{{ cliente.localidade }}</td>
                    <td> {{ somarServicos(cliente)  | currency : 'BRL'}}</td>
                    <td> 
                        <button class="btn btn-info btn-sm" >Imprimir</button>                        
                        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal" 
                            (click)="passarId(cliente.id)" 
                        >Editar</button>
                        <button class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#deleteModal"
                        (click)="passarId(cliente.id)"
                        (click)="deletarClinete(cliente.id)"
                        >Excluir</button>
                    </td>
                </tr>                
            </tbody>
        </table>
        
    </div>
</div>


<app-editar-cliente  *ngIf="clienteId !== undefined" [clienteId]="clienteId"  ></app-editar-cliente>
<!-- <app-deletar-cliente *ngIf="clienteId !== undefined"  [clienteId]="clienteId"  ></app-deletar-cliente> -->




