<div class="container"  >
    <div class="row centralizar" >        
        <div class="col-12">
            <h3 class="text-center">Lista de clientes</h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead >
                <tr class="centralizar">
                    <th scope="col">CPF / CNPJ</th>
                    <th scope="col">Nome Empresarial</th>
                    <th scope="col">Localidade</th>
                    <th scope="col">Valor Fatura</th>
                    <th scope="col">Opções</th>
                    
                </tr>
            </thead>
            <tbody  class="table-sm"   *ngFor="let cliente of clientes | paginate: { itemsPerPage: contador, currentPage: pag }">
                <tr class="centralizar">
                    <th scope="row">{{ cliente.cnpj | cpfcnpjPipe }}</th>
                    <td>{{ cliente.nomeEmpresarial }}</td> 
                    <td>{{ cliente.localidade }}</td>
                    <td> {{ somarServicos(cliente)  | currency : 'BRL'}}</td>
                    <td> 
                        
                        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editarModal" 
                        (click)="passarId(cliente.id)" 
                        >Editar</button>
                        
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#servicosModal"
                        (click)="passarId(cliente.id)"
                        >Serviços</button>
                        
                        <button class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#deleteModal"
                        (click)="passarId(cliente.id)"
                        >Excluir</button>
                    </td>
                </tr>                
            </tbody>
            
        </table>  
      
        
    </div>
    <div class="text-center" >
        <pagination-controls 
        
		(pageChange)="pag
		= $event" 
		previousLabel="Anterior"
		nextLabel="Próximo"></pagination-controls>
		</div>
</div>


<app-editar-cliente  *ngIf="clienteId !== undefined" [clienteId]="clienteId"  (listanovamente)=ngOnInit()   ></app-editar-cliente>
<app-deletar-cliente *ngIf="clienteId !== undefined"  [clienteId]="clienteId"  (listanovamente)="ngOnInit()"></app-deletar-cliente>
<app-servicos-cliente *ngIf="clienteId !== undefined"  [clienteId]="clienteId"  (listaNovamente)="ngOnInit()"></app-servicos-cliente>



