<div class="container"  >
    <div class="row d-flex justify-content-between" >        
        <div class="col-6">   
            <div class="form-group">      
                <h3 class="teXT">Lista de clientes </h3>
            </div>
        </div>
        
        <div class="col-3">
            <div class="form-group">               
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar Cliente" (keyup)="filtrar($event.target.value)" >
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                    </span>
                </div>                
            </div>
        </div>
    </div>
    
    
    
    <div class="row">
        <table class="table table-striped">
            <thead >
                <tr class="centralizar">
                    <th scope="col">CPF / CNPJ</th>
                    <th scope="col">Nome Empresarial</th>
                    <th scope="col">Localidade</th>
                    <th scope="col">Valor Fatura</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody  class="table-sm"   *ngFor="let cliente of listaClientes | paginate: { itemsPerPage: contador, currentPage: pag }; let i=index">
                <tr class="centralizar">
                    <th scope="row">{{ cliente.cnpj | cpfcnpjPipe }}</th>
                    <td>{{ cliente.nomeEmpresarial }}</td> 
                    <td>{{ cliente.localidade }}</td>
                    <td> {{ somarServicos(cliente) | currency : 'BRL'}}</td>                  
                    <td> 
                        
                        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editarModal" 
                        (click)="passarId( cliente.cnpj)" 
                        >Editar</button>
                        
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#servicosModal"
                        (click)="passarId( cliente.cnpj)" 
                        >Serviços</button>
                        
                        <button class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#deleteModal"
                        (click)="passarId(cliente.cnpj)" 
                        >Excluir</button>
                    </td>
                </tr>                
            </tbody>
            
        </table>  
        
        
    </div>
    
    
    <div class="alert alert-danger" *ngIf="listaClientes.length === 0 " style="text-align: center;">
        Nenhum cliente encontrado
    </div>
    
    
    <div class="text-center"  >
        <pagination-controls 
        
        (pageChange)="pag
        = $event" 
        previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
    </div>
</div>


<app-editar-cliente  *ngIf="clienteKey !== undefined" [clienteKey]="clienteKey"  (listanovamente)=ngOnInit()   ></app-editar-cliente>
<app-deletar-cliente *ngIf="clienteKey !== undefined"  [clienteKey]="clienteKey"  (listanovamente)="ngOnInit()"></app-deletar-cliente>
<app-servicos-cliente *ngIf="clienteKey !== undefined"  [clienteKey]="clienteKey"  (listaNovamente)="ngOnInit()"></app-servicos-cliente>

