<div class="container " >  
    <br> 
     <div class="shadow-lg p-3 mb-5 bg-black rounded" style="border: 0.5px rgba(122, 120, 120, 0.603) solid;">
        <div style="text-align: center;">
            <div class="row">
                <div class="offset-3"></div>
                <div class="col-6">
                    <h4 class="faturamento">Deletar Serviços de Clientes</h4>
                </div>
            </div>
            <p style="border: solid 1.5px rgb(189, 189, 189);margin: 25px 0px 20px;"></p>
        </div>
        <form [formGroup]="clienteFormulario">
        <table  class="table table-striped">
            <thead >
                <tr>
                    <th class="centralizar"><input type="checkbox" class="form-check-inline" (click)="marcaEDesmascar()"> </th>
                    <th>CPF/CNPJ</th>  
                    <th>Nome</th> 
                    <th>Qtd. Serviços</th>                  
                    <th>Valor Atual</th> 
                </tr>
            </thead>
            <tbody >
                <tr style="line-height: 0.1;" *ngFor="let cliente of clienteFormulario.controls; let i=index" [formGroupName]="i">
                    <td  class="centralizar"><input type="checkbox" formControlName="check" class="form-check-inline"></td>
                    <td > <label class="control-label"> {{  cliente.value.cnpj  | cpfcnpjPipe}} </label> </td>
                    <td > <label class="control-label"> {{  cliente.value.nome }} </label> </td>
                    <td class="centralizar" > <label class="control-label"  > {{  cliente.value.quantidadeServico  }} </label> </td>
                    <td > <label class="control-label"> {{  cliente.value.valorAtual | currency:'BRL'  }} </label> </td>
                    
                </tr>
            </tbody>
        </table>   
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="button"data-bs-toggle="modal" data-bs-target="#confirmarDelClientes" (click)="gerarListaDelConfirmacao()" >Continuar</button>
        </div>        
    </form>  
    </div>
</div>


<app-confirmar-del-servico [listasClienteRemoverServicos]="listaDelconfirmar" ></app-confirmar-del-servico>





