@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./../node_modules/ngx-toastr/toastr.css";



body{
    background-color: #CAFFFB;
}

.faturamento{
    border: 1px solid black;
    text-align: center;
    box-shadow: 10px 7px 7px rgb(57, 58, 57);
    border-radius: 10px;

}
