<div class="modal fade" id="servicosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Servicos do cliente <b style="color: rgb(15, 121, 59); font-style: italic; ">{{ cliente.nomeEmpresarial }}</b></h5>
        <div> 
          <button type="button" class="btn btn-info"  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" >X</span>
          </button>
        </div>
      </div>
      
      <div class="modal-body"   >        
        
        <form [formGroup]="formulario" *ngIf="formulario" >
          
          <div class="row">
            <div class="col-5">
              <p>Nome: {{ cliente.nomeEmpresarial }}</p>
              <p>CPF / CNPJ : {{ cliente.cnpj |  cpfcnpjPipe}}</p>
            </div>
            
            <div class="col-2">
              Valor total: <b> <div style="font-size: 18px;margin-top: 12px;">{{ somaFatura() | currency: "BRL"}}</div></b>
            </div>
            
            <div class="col-5">
              <div class="form-group">
                <div class="input-group mb-4">
                  <span class="input-group-text" >Competência</span>
                  <input type="month" class="form-control" formControlName="competencia"  >
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text" >Data Vencimento Recibo</span>
                  <input type="date" class="form-control"  formControlName="dataVencimentoRecibo">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text" >Data de Emissão</span>
                  <input type="date" class="form-control"  formControlName="dataDeEmissao">
                </div>
              </div>
            </div>
            
          </div>
          
          <div *ngIf="listaServico.controls.length ===0">
            <p class="alert alert-danger" style="text-align: center;"> Sem Serviço</p>
          </div>
          
          <div class="row" *ngIf="listaServico.controls.length > 0">
            <div class="col-6">
              <label class="label-control">Descrição</label>
            </div>
            <div class="col-3">
              <label class="label-control">Vencimento</label>
            </div>
            <div class="col-2">
              <label class="label-control">Valor R$</label>
            </div>
          </div>
          
          
          <div formArrayName="listaServico">
            <div *ngFor="let servico of listaServico.controls; let i=index" [formGroupName]="i"> 
              <div class="row">
                <div class="col-6"> 
                  <div class="form-group">                 
                    <input formControlName="descricao" class="form-control" type="text" required minlength="3">
                    <div *ngIf="servico.controls.descricao.invalid === true && servico.controls.descricao.touched" > 
                      <div class="alert alert-danger"> Campo deve ser prenchido </div>  
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">                    
                    <input formControlName="vencimento"  class="form-control" type="date" required>
                    <div class="invalid-feedback"> Campo deve ser preenchido </div>
                    <div *ngIf="servico.controls.vencimento.invalid === true && servico.controls.vencimento.touched" > 
                      <div class="alert alert-danger"> Campo deve ser prenchido </div>  
                    </div>
                  </div>
                </div>  
                <div class="col-2">
                  <div class="form-group" style="margin-bottom: 0;">                    
                    <input formControlName="valor" type="number" (blur)="atualizarLista()" class="form-control" required >
                  </div>
                  <div *ngIf="servico.controls.valor.invalid === true && servico.controls.valor.touched" > 
                    <div class="alert alert-danger"> Campo deve ser prenchido </div>  
                  </div>
                </div>
                <div class="col-1" >
                  <button type="button"  class="btn btn-danger" (click)="removeServico(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                    </svg>
                  </button>
                  
                  
                </div>
                
              </div>              
            </div>
            <div class="d-flex justify-content-star margemBtn" >
              <a  (click)="addServico()" class="btn btn-link"> <b>+ Servico </b> </a>
            </div>
          </div>
          
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-success" [disabled]="formulario.controls.listaServico.status === 'INVALID' || listaServico.controls.length === 0" data-dismiss="modal" (click)="atualizaCliente()">Salvar</button>
            
            
            <button class="btn btn-info" (click)="gerarPDF()" [disabled]="formulario.invalid"  data-dismiss="modal" > Gerar Fatura</button>
          </div>
          
          
          
        </form>       
        
        
        
      </div>
      
    </div>
  </div>
</div>