.margemBtn{
    margin: 10px 18px 10px ;
}

.alert-warning{
    font-family: 'Courier New', Courier, monospace;
    font-size: large ;
}

.alert-danger {
    padding: 1px;
    box-shadow: 1px 1px 1px black;
    margin-top: 1px;
}